<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753488298345-75vnbliar8d8oa5k9flkihomfdf3r15v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753488298345-75vnbliar8d8oa5k9flkihomfdf3r15v</string>
	<key>API_KEY</key>
	<string>AIzaSyCIi6P6ks7OLc-vLTSurGr0h5ixK77BNt0</string>
	<key>GCM_SENDER_ID</key>
	<string>753488298345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baris.FoursquareCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramclonefirebase-64e50</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonefirebase-64e50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753488298345:ios:9d74e18b29779ea027fdf8</string>
</dict>
</plist>